<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Joke</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <h1 style="text-align: center">New Joke</h1>
    <div style="text-align: center">
      <button class="myButton" onclick="location.href='/'">
        Return to Joke List
      </button>
    </div>

    <div>
      <form
        action="http://localhost:3000/contact"
        method="post"
        target="_parent"
      >
        <table>
          <tbody>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="FirstName">First Name:</label></td>
              <td><input type="text" id="FirstName" name="FirstName" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="LastName">Last Name:</label></td>
              <td><input type="text" id="LastName" name="LastName" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Phone">Phone:</label></td>
              <td><input type="text" id="Phone" name="Phone" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Email">Email:</label></td>
              <td><input type="text" id="Email" name="Email" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Address">Address:</label></td>
              <td><input type="text" id="Address" name="Address" /></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center">
          <input type="submit" class="submitButton" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
