<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Phone Number</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <h1 style="color:red;text-align: center">Phone Number Format Invalid!<br/>Use the following format (numbers only):<br/><br/>##########</h1>
    <br/><br/>
    <div style="text-align: center">
        <button class="myButton" onclick="history.back()">
          Try again
        </button>
      </div>
</body>

</html>