<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Joke</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript">

        let url = document.URL;
        let id = url.substring(url.lastIndexOf('/') + 1);
        url = `http://localhost:3000/contact/${id}`;
  
        fetch(url)
          .then((res) => res.json())
          .then((contact) => {
            document.getElementById("id").value = contact._id;
            document.getElementById("FirstName").value = contact.FirstName;
            document.getElementById("LastName").value = contact.LastName;
            document.getElementById("Phone").value = contact.Phone;
            document.getElementById("Email").value = contact.Email;
            document.getElementById("Address").value = contact.Address;
          })
          .catch((err) => {
            throw err;
          });

          function VerifyDeletion()
          {
            const remove = confirm(`Are you sure you want to delete ${document.getElementById("FirstName").value} ${document.getElementById("LastName").value}?`);
            if(remove) location.href=`/deletecontact/${document.getElementById("id").value}`;
          }

      </script>
  </head>

  <body>
    <h1 style="text-align: center">Update Joke</h1>
    <div style="text-align: center">
      <button class="myButton" onclick="location.href='/'">
        Return to Joke List
      </button>
    </div>

    <div>
      <form
        action="http://localhost:3000/contact?_method=PUT"
        method="POST"
        target="_self"
      >
        <table>
          <tbody>
            <tr>
                <td style="text-align: right;vertical-align: bottom;"><label for="id">Id:</label></td>
                <td><input type="text" id="id" name="id" style="background-color:gray;" readonly/></td>
              </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="FirstName">First Name:</label></td>
              <td><input type="text" id="FirstName" name="FirstName" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="LastName">Last Name:</label></td>
              <td><input type="text" id="LastName" name="LastName" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Phone">Phone:</label></td>
              <td><input type="text" id="Phone" name="Phone" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Email">Email:</label></td>
              <td><input type="text" id="Email" name="Email" /></td>
            </tr>
            <tr>
              <td style="text-align: right;vertical-align: bottom;"><label for="Address">Address:</label></td>
              <td><input type="text" id="Address" name="Address" /></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center">
          <div style="display:inline-block">
            <input type="submit" class="submitButton" value="Update" />
          </div>
          <div style="display:inline-block">
            &nbsp;
          </div>
          <div style="display:inline-block">
            <button class="deleteButton" onclick="VerifyDeletion();return false;">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
